# Electoral Bonds Data Analysis

## Electoral Bonds Buyer Data Analysis

### Adding the imports

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import plotly.express as px

### Creating the DataFrame

In [4]:
dfb = pd.read_csv("electroral_bonds_buyer_data.csv")

### Reading the data

In [5]:
dfb.head()

   Unnamed: 0 Date of Purchase       Purchaser Name  Denomination
0           0      12/Apr/2019  A B C INDIA LIMITED        100000
1           1      12/Apr/2019  A B C INDIA LIMITED        100000
2           2      12/Apr/2019  A B C INDIA LIMITED       1000000
3           3      12/Apr/2019  A B C INDIA LIMITED       1000000
4           4      12/Apr/2019  A B C INDIA LIMITED        100000

In [6]:
dfb.tail()

,Unnamed: 0,Date of Purchase,Purchaser Name,Denomination
18866,18866,11/Jan/2024,WESTWELL GASES PRIVATE LIMITED,10000000
18867,18867,11/Jan/2024,WESTWELL GASES PRIVATE LIMITED,10000000
18868,18868,11/Jan/2024,WESTWELL GASES PRIVATE LIMITED,10000000
18869,18869,11/Jan/2024,WESTWELL GASES PRIVATE LIMITED,10000000
18870,18870,11/Jan/2024,WESTWELL GASES PRIVATE LIMITED,10000000

### Exploring the data

In [7]:
dfb.shape

(18871, 4)

In [8]:
dfb.columns

Index(['Unnamed: 0', 'Date of Purchase', 'Purchaser Name', 'Denomination'], dtype='object')

In [9]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18871 entries, 0 to 18870
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        18871 non-null  int64
 1   Date of Purchase  18871 non-null  object
 2   Purchaser Name    18871 non-null  object
 3   Denomination      18871 non-null  int64
dtypes: int64(2), object(2)
memory usage: 589.8+ KB

### Filtering and exploring the _null_ values

In [10]:
dfb.isnull().sum()

Unnamed: 0          0
Date of Purchase    0
Purchaser Name      0
Denomination        0
dtype: int64

### Data Types

In [12]:
dfb.dtypes

Unnamed: 0           int64
Date of Purchase    object
Purchaser Name      object
Denomination         int64
dtype: object

### Changing the column name "Unnamed: 0" to "id"

In [15]:
dfb.rename(columns = {"Unnamed: 0":"id"}, inplace = True)

In [17]:
dfb.head(2)

   id Date of Purchase       Purchaser Name  Denomination
0   0      12/Apr/2019  A B C INDIA LIMITED        100000
1   1      12/Apr/2019  A B C INDIA LIMITED        100000